<style>
  <%- include('../css/tableHeader.css') %>
</style>

<div class="table-header">
  <div class="tab-col-main">Name</div>
  <div class="tab-col">Date</div>
  <div class="tab-col">Hour</div>
</div>