.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 1350px;
  width: 100%;
  border-radius: var(--radius-base);
  padding: 20px 40px 20px;
  background: var(--colors-neutral-0);
  box-shadow: var(--shadow-level-1);
}

.rooms-header {
  margin-bottom: 10px;
}

.cards {
  margin-top: 30px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 32px;
}

@media (max-width: 900px) {
  .content {
    padding: 16px;
    border-radius: 0;
  }
}
